@model CandyStore.ViewModels.CandyListViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"/ content="width=device-width, initial-scale=1">
    <title>Candy Store</title>
</head>
<body>
    <h1>@Model.CurrentCategory</h1>
    @foreach (var candy in Model.Candies)
    {
        <div>
            <h2>@candy.Name</h2>
            <h3>@candy.Price.ToString("c")</h3>
            <h4>@candy.Category.CategoryName</h4>
        </div>
    }
</body>
</html>
